CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
CPackConfig.cmake
CPackSourceConfig.cmake

.DS_Store

.vscode/

build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tcl

EnabledFeatures.txt
DisabledFeatures.txt

# debug information files
*.dwo
rawConverter/config.h
rawConverter/rawConverter
libraw/LibRaw
libjpeg/
libjxl/lib

downloads/*
libjxl/third_party/*/

LICENSE*

bin/

*.ARW
*.DNG

build_xcode_ios/*
exiv2*